.Border__NORMAL {
  border-top: 2px solid var(--TYPE__NORMAL_BACKGROUND);
}

.Border__FIGHTING {
  border-top: 2px solid var(--TYPE__FIGHTING_BACKGROUND);
}

.Border__FLYING {
  border-top: 2px solid var(--TYPE__FLYING_BACKGROUND);
}

.Border__POISON {
  border-top: 2px solid var(--TYPE__POISON_BACKGROUND);
}

.Border__GROUND {
  border-top: 2px solid var(--TYPE__GROUND_BACKGROUND);
}

.Border__ROCK {
  border-top: 2px solid var(--TYPE__ROCK_BACKGROUND);
}

.Border__BUG {
  border-top: 2px solid var(--TYPE__BUG_BACKGROUND);
}

.Border__GHOST {
  border-top: 2px solid var(--TYPE__GHOST_BACKGROUND);
}

.Border__STEEL {
  border-top: 2px solid var(--TYPE__STEEL_BACKGROUND);
}

.Border__FIRE {
  border-top: 2px solid var(--TYPE__FIRE_BACKGROUND);
}

.Border__WATER {
  border-top: 2px solid var(--TYPE__WATER_BACKGROUND);
}

.Border__GRASS {
  border-top: 2px solid var(--TYPE__GRASS_BACKGROUND);
}

.Border__ELECRTIC {
  border-top: 2px solid var(--TYPE__ELECTRIC_BACKGROUND);
}

.Border__PSYCHIC {
  border-top: 2px solid var(--TYPE__PSYCHIC_BACKGROUND);
}

.Border__ICE {
  border-top: 2px solid var(--TYPE__ICE_BACKGROUND);
}

.Border__DRAGON {
  border-top: 2px solid var(--TYPE__DRAGON_BACKGROUND);
}

.Border__DARK {
  border-top: 2px solid var(--TYPE__DARK_BACKGROUND);
}

.Border__FAIRY {
  border-top: 2px solid var(--TYPE__FAIRY_BACKGROUND);
}