.POKEMON__TYPE {
  color: #FFF;
}

.Type__NORMAL {
  background: var(--TYPE__NORMAL_BACKGROUND);
  border: 1px solid var(--TYPE__NORMAL_BORDER);
}

.Type__FIGHTING {
  background: var(--TYPE__FIGHTING_BACKGROUND);
  border: 1px solid var(--TYPE__FIGHTING_BORDER);
}

.Type__FLYING {
  background: var(--TYPE__FLYING_BACKGROUND);
  border: 1px solid var(--TYPE__FLYING_BORDER);
}

.Type__POISON {
  background: var(--TYPE__POISON_BACKGROUND);
  border: 1px solid var(--TYPE__POISON_BORDER);
}

.Type__GROUND {
  background: var(--TYPE__GROUND_BACKGROUND);
  border: 1px solid var(--TYPE__GROUND_BORDER);
}

.Type__ROCK {
  background: var(--TYPE__ROCK_BACKGROUND);
  border: 1px solid var(--TYPE__ROCK_BORDER);
}

.Type__BUG {
  background: var(--TYPE__BUG_BACKGROUND);
  border: 1px solid var(--TYPE__BUG_BORDER);
}

.Type__GHOST {
  background: var(--TYPE__GHOST_BACKGROUND);
  border: 1px solid var(--TYPE__GHOST_BORDER);
}

.Type__STEEL {
  background: var(--TYPE__STEEL_BACKGROUND);
  border: 1px solid var(--TYPE__STEEL_BORDER);
}

.Type__FIRE {
  background: var(--TYPE__FIRE_BACKGROUND);
  border: 1px solid var(--TYPE__FIRE_BORDER);
}

.Type__WATER {
  background: var(--TYPE__WATER_BACKGROUND);
  border: 1px solid var(--TYPE__WATER_BORDER);
}

.Type__GRASS {
  background: var(--TYPE__GRASS_BACKGROUND);
  border: 1px solid var(--TYPE__GRASS_BORDER);
}

.Type__ELECRTIC {
  background: var(--TYPE__ELECTRIC_BACKGROUND);
  border: 1px solid var(--TYPE__ELECTRIC_BORDER);
}

.Type__PSYCHIC {
  background: var(--TYPE__PSYCHIC_BACKGROUND);
  border: 1px solid var(--TYPE__PSYCHIC_BORDER);
}

.Type__ICE {
  background: var(--TYPE__ICE_BACKGROUND);
  border: 1px solid var(--TYPE__ICE_BORDER);
}

.Type__DRAGON {
  background: var(--TYPE__DRAGON_BACKGROUND);
  border: 1px solid var(--TYPE__DRAGON_BORDER);
}

.Type__DARK {
  background: var(--TYPE__DARK_BACKGROUND);
  border: 1px solid var(--TYPE__DARK_BORDER);
}

.Type__FAIRY {
  background: var(--TYPE__FAIRY_BACKGROUND);
  border: 1px solid var(--TYPE__FAIRY_BORDER);
}
