.STAT__HP {
  background: theme('colors.hp-stat-bg');
}

.STAT__ATK {
  background: theme('colors.atk-stat-bg');
}

.STAT__DEF {
  background: theme('colors.def-stat-bg');
}

.STAT__SP_ATK {
  background: theme('colors.sp_atk-stat-bg');
}

.STAT__SP_DEF {
  background: theme('colors.sp_def-stat-bg');
}

.STAT__SPEED {
  background: theme('colors.speed-stat-bg');
}