@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "~@fontsource/montserrat/index.css";

@import "./components";

:root {
  --TYPE__NORMAL_BACKGROUND: theme("colors.normal.bg");
  --TYPE__NORMAL_BORDER: theme("colors.normal.border");

  --TYPE__FIGHTING_BACKGROUND: theme("colors.fighting.bg");
  --TYPE__FIGHTING_BORDER: theme("colors.fighting.border");

  --TYPE__FLYING_BACKGROUND: theme("colors.flying.bg");
  --TYPE__FLYING_BORDER: theme("colors.flying.border");

  --TYPE__POISON_BACKGROUND: theme("colors.poison.bg");
  --TYPE__POISON_BORDER: theme("colors.poison.border");

  --TYPE__GROUND_BACKGROUND: theme("colors.ground.bg");
  --TYPE__GROUND_BORDER: theme("colors.ground.border");

  --TYPE__ROCK_BACKGROUND: theme("colors.rock.bg");
  --TYPE__ROCK_BORDER: theme("colors.rock.border");

  --TYPE__BUG_BACKGROUND: theme("colors.bug.bg");
  --TYPE__BUG_BORDER: theme("colors.bug.border");

  --TYPE__GHOST_BACKGROUND: theme("colors.ghost.bg");
  --TYPE__GHOST_BORDER: theme("colors.ghost.border");

  --TYPE__STEEL_BACKGROUND: theme("colors.steel.bg");
  --TYPE__STEEL_BORDER: theme("colors.steel.border");

  --TYPE__FIRE_BACKGROUND: theme("colors.fire.bg");
  --TYPE__FIRE_BORDER: theme("colors.fire.border");

  --TYPE__WATER_BACKGROUND: theme("colors.water.bg");
  --TYPE__WATER_BORDER: theme("colors.water.border");

  --TYPE__GRASS_BACKGROUND: theme("colors.grass.bg");
  --TYPE__GRASS_BORDER: theme("colors.grass.border");

  --TYPE__ELECTRIC_BACKGROUND: theme("colors.electric.bg");
  --TYPE__ELECTRIC_BORDER: theme("colors.electric.border");

  --TYPE__PSYCHIC_BACKGROUND: theme("colors.psychic.bg");
  --TYPE__PSYCHIC_BORDER: theme("colors.psychic.border");

  --TYPE__ICE_BACKGROUND: theme("colors.ice.bg");
  --TYPE__ICE_BORDER: theme("colors.ice.border");

  --TYPE__DRAGON_BACKGROUND: theme("colors.dragon.bg");
  --TYPE__DRAGON_BORDER: theme("colors.dragon.border");

  --TYPE__DARK_BACKGROUND: theme("colors.dark.bg");
  --TYPE__DARK_BORDER: theme("colors.dark.border");

  --TYPE__FAIRY_BACKGROUND: theme("colors.fairy.bg");
  --TYPE__FAIRY_BORDER: theme("colors.fairy.border");
}

body {
  font-family: Montserrat, sans-serif;
}
